:root {
    --active: #ffbd52;
    --primary: #F17A8F;
    --secondary: #6CC9B7;
    --additional: #3886D1;
    --base: #79BAF2;
    --base-seconday: #428ACA;
    --device: #FBF8F3;
    --objects: #FBF8F3;
    --objects-2: #F1B2CC;
    --background: #D3C0B4;
    --dark-blue: #232340;
    --graphite: #606060;
    --active-page-color: #5468E7;
    --another-page-color1: #ADADAD;
    --another-page-color2: #8B8B8B;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;;
    
}

body {
    font-family: var(--font-montserrat);
}

.body-job {
    background-color: var(--device);
}

.body-hero , .body-job {
    background-image: url(../img/Path.svg);
    background-repeat: no-repeat;
    background-position: 12rem 0em;
}

.body-service, .body-work { 
    display: "";
}

.header__main {
    margin: 2rem 2rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__side-menu {
    margin: .5em 0;
}

.container__hero {
    display: "";
    height: 88vh;
    background-image: url(../img/img-bg-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1.2rem -7.5em; 
}

@media screen and (max-width: 320px) {
    .container__hero {
        background-position: 0rem 0em;
    }
}

.container__hero-title, .container_job-title {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    color: var(--dark-blue);
    margin: 2rem 2rem;

}

.container__hero-paragraph {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 2rem 2rem 2.5em;

}

.container__work-paragraph {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 2rem 2rem 2.5em;
    color: var(--another-page-color1);
}

.container__hero-buttom {
    margin: 1rem 0 1rem 2rem;
}

.buttom {
    background-color: var(--active-page-color);
    width: 180px;
    height: 64px;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}

.container__about {
    height: 200vh;
    background-color: var(--dark-blue);
    background-image: url(../img/Group.svg);
}

.container__about-div, .container__job-div {
    display: flex;
    margin: 4rem 2rem;

}

.container__about-p {
    margin-top: 2rem;
    font-family: var(--font-montserrat);
    color: var(--another-page-color1);
    font-weight: 600;
    font-size: 1rem;
}

.container__about-p-bold {
    margin-top: 2rem;
    padding: 0 1.5rem;
    color: var(--device);
    font-weight: 600;
    font-size: 1rem;
}

.container__nwork-p, .container__njob-p {
    margin-top: 2rem;
    font-family: var(--font-montserrat);
    color: var(--active-page-color);
    font-weight: 600;
    font-size: 1rem;
}

.container__nwork-p-bold, .container__njob-p-bold {
    margin-top: 2rem;
    padding: 0 1.5rem;
    color: var(--active-page-color);
    font-weight: 600;
    font-size: 1rem;
}

.container__cta {
    display: "";
}
.container__cta-div {
    display: flex;
    margin: 4rem 4rem;

}

.container__cta-p {
    margin: 5rem 0 0 0;
    font-family: var(--font-montserrat);
    color: var(--another-page-color1);
    font-weight: 600;
    font-size: 1.2rem;
}

.container__cta-p-bold {
    margin: 5rem 0 0 0;
    padding: 0 1.5rem;
    color: var(--device);
    font-weight: 600;
    font-size: 1.2rem;
}

.cta-h2 {
    margin: 0 4rem 2rem 4rem;
    text-align: left;
    font-size: 2.53rem;
    font-weight: 800;
    color: var(--device);
}

.cta-buttom {
    margin: 4rem 5rem;
    text-transform: none;
    color: var(--active-page-color);
    background-color: var(--device);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 1rem;
}

.container__about-txt {
    font-weight: 600;
    font-size: 2.4rem;
    margin: 0rem 2rem;
    color: white;
    vertical-align: top;
    text-align: left;
}

.container__about-choice {
    display: flex;
    margin: 2rem 2rem;
    justify-content: space-around;
}

.container__about-choice-img1 {
    background-color: var(--dark-blue);
    border-radius: 2rem;
    padding:1rem;
    border: none;
}

.container__about-choice-img2 {
    background-color: var(--additional);
    border-radius: 2rem;
    padding:1rem;
    border: none;
}

.container__about-choice-year {
    background-color: var(--dark-blue);
    border-radius: 2rem;
    padding:1rem 2rem;
    border: none;
    color: var(--device);
    font-size: 1rem;
    font-weight: 600;
}

.container__about-bg {
    height: 62vh;

}

.container__about-grup {
    display: "";
    margin: 0 2rem;

}

.container__about-grup-h2 {
    color: var(--device);
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 2em;

}

.container__about-grup-p {
    color: var(--another-page-color2);
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 2em;
    margin: 0 0 2rem;
}

.container__about-buttom {
    background-color: var(--active-page-color);
    text-decoration: none;
    color: white;
    padding: 1.1rem 2.5rem;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    margin: 0rem 2rem;
}

#container__about-buttom {
    margin-bottom: 4rem;
}

.container__about-circle {
    margin: 0 2rem;
    padding: 77px;
    box-shadow: rgba(0, 0, 0, 0.2423) 0 2rem 2rem 0;
    border-radius: 300px;
}
.container__about-circleh2 {
    color: var(--device);
    text-align: center;
    font-weight: 600;
    font-size: 8rem;

}

.container__about-circlep {
    color: var(--device);
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

footer {
    height: 95vh;
    margin: 2rem;
}

.footer__card {
    display: flex;
    background-image: url(../img/line\ 2.svg);
    background-repeat: no-repeat;
    background-position: 5rem 0rem;
    background-color: var(--active-page-color);
    height: 64vh;
    border-radius: 2rem;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.footer__card-img {
    margin: 2rem -2rem 1rem 0;
}

.footer__card-line {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 36vh; 
}
.footer__card-hello {
    color: var(--device);
    font-weight: 600;
    font-size: 1rem;
}

.footer__cardp {
    color: var(--device);
    font-weight: 600;
    font-size: 18px;
    margin: 2rem;
    text-align: center;
}

.footer__card-vl {
    width: 82vw;
    border: 1px solid rgba(255, 255, 255, 0.242);
}

.footer__card-talk {
    color: var(--device);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 2rem ;
    text-align: center;
}

.footer__buttom {
    background-color: var(--device);
    width: 70vw;
    height: 4rem;
    color: var(--active-page-color);
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}

.footer__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2em;
}

.footer__info-img {
    margin-bottom: 1em;
}

.footer__infop {
    text-align: center;
    color: var(--another-page-color1);
    margin: 0 1rem 1rem;
}

.footer__info-nav {
    height: 4rem;
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0 0 0 2rem ;
}
.footer_bubble-social {
    display: flex;
    justify-content: center;
}

.footer__bubble-social-btm {
    display: flex;
    justify-content: center;
    background-color: var(--device);
    height: 3rem;
    width: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2rem;
    margin: 1rem .4rem;
}

.face-btm {
    background-color: var(--active-page-color);
}

.footer__btm-social {
    width: 16px;
}

.footer__copyright {
    text-align: center;
    color: var(--another-page-color1);
    font-size: 0.6125rem;
    margin-bottom: .1rem;
}

a {
    text-decoration: none;
}