.container__work-list {
    margin: 2rem;
}

.work-list {
    margin: 1rem 0;
}

.wl-img1 {
    margin: 1rem 0;
    background-color: #FFBA79;
    border-radius: 1rem;
}

.wl-img2 {
    margin: 1rem 0;
    background-color: #E8BEFF;
    border-radius: 1rem;
}

.wl-img3 {
    margin: 1rem 0;
    background-color: #FFCE79;
    border-radius: 1rem;
}
.wl-img4 {
    margin: 1rem 0;
    background-color: #D1ECFD;
    border-radius: 1rem;
}
.wl-img5 {
    margin: 1rem 0;
    background-color: #FFBA79;
    border-radius: 1rem;
}

.wl-h2 {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 0;
}

.wl-p {
    color: #ADADAD;
    font-size: .8rem;
    font-weight: 500;
    padding: 1rem 1rem 1rem 0;
    text-align: left;
}

.wl-buttom {
    background-color: white;
    border-radius: 2rem;
    padding: 8px 5px 4px 5px;
    border: 1px solid black;
    margin: 1rem;
}

.buttom-service-btm {
    background-color: #5468E7;
    color: white;
    margin: 2rem;
    padding: 20px 100px;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}